AvidX-Sandbox-cpollock/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "AvidX-Sandbox-cpollock"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RawStandardizedProcess_Hadoop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hive query to ADLS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait for Hive scripts to run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HiveSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Hive_DS",
								"type": "DatasetReference",
								"parameters": {
									"ObjectName": {
										"value": "@variables('HiveSnapshotViewName')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Gen1_orc",
								"type": "DatasetReference",
								"parameters": {
									"Directory": {
										"value": "rawstandardized/@{pipeline().parameters.DatabaseName}/@{pipeline().parameters.SchemaName}/@{pipeline().parameters.ObjectName}",
										"type": "Expression"
									},
									"FileName": {
										"value": "@{pipeline().parameters.ObjectName}.orc",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Create Hive External Table",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "Hive External Table script to Azure Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": {
								"value": "hiveexternaltablescripts/@{variables('HiveExternalTableScriptName')}",
								"type": "Expression"
							},
							"getDebugInfo": "Always",
							"scriptLinkedService": {
								"referenceName": "avidxsacpollockhdinsight",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "avidxhdihadoopcpollocksandbox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set HiveSnapshotViewName Variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "HiveSnapshotViewName",
							"value": {
								"value": "v_@{pipeline().parameters.DatabaseName}_@{pipeline().parameters.SchemaName}_@{pipeline().parameters.ObjectName}_snapshot",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Hive External Table script to Azure Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait after variables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetHiveExternalTableSchemaSQLServer]')]",
								"storedProcedureParameters": {
									"DatabaseName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										}
									},
									"HiveTableName": {
										"type": "String",
										"value": {
											"value": "@variables('HiveTableName')",
											"type": "Expression"
										}
									},
									"ObjectName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.ObjectName",
											"type": "Expression"
										}
									},
									"SchemaName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										}
									},
									"StorageAccountLocation": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.StorageAccountLocation",
											"type": "Expression"
										}
									},
									"StoredAsType": {
										"type": "String",
										"value": "ORC"
									}
								}
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ETLConfigDB_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ExternalTableScript_DS",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "@variables('HiveExternalTableScriptName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Wait for Hive scripts to run",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Create Hive External Table",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Create Hive Snapshot View",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Create Hive Snapshot View",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "Hive View script to Azure Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": {
								"value": "hivesnapshotviewscripts/@{variables('HiveSnapshotViewScriptName')}",
								"type": "Expression"
							},
							"getDebugInfo": "Always",
							"scriptLinkedService": {
								"referenceName": "avidxsacpollockhdinsight",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "avidxhdihadoopcpollocksandbox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hive View script to Azure Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait after variables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetHiveSnapshotViewScriptSQLServer]')]",
								"storedProcedureParameters": {
									"DatabaseName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										}
									},
									"ObjectName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.ObjectName",
											"type": "Expression"
										}
									},
									"SchemaName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										}
									},
									"PartitionColumns": {
										"type": "String",
										"value": null
									},
									"OrderByColumn": {
										"type": "String",
										"value": "INPUT__FILE__NAME"
									}
								}
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ETLConfigDB_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "HiveSnapshotViewScripts_DS",
								"type": "DatasetReference",
								"parameters": {
									"Blob": "hivesnapshotviewscripts",
									"Path": {
										"value": "@variables('HiveSnapshotViewScriptName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set HiveTableName Variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "HiveTableName",
							"value": {
								"value": "@{pipeline().parameters.DatabaseName}_@{pipeline().parameters.SchemaName}_@{pipeline().parameters.ObjectName}_snapshot",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Wait after variables",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Set HiveSnapshotViewName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set HiveTableName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set HiveExternalTableScriptName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set HiveSnapshotViewScriptName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Set HiveExternalTableScriptName Variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "HiveExternalTableScriptName",
							"value": {
								"value": "@toLower(CONCAT(pipeline().parameters.DatabaseName,if(empty(pipeline().parameters.SchemaName),'.hql',CONCAT('/',pipeline().parameters.SchemaName,if(empty(pipeline().parameters.ObjectName),'.hql',CONCAT('/',pipeline().parameters.ObjectName,'.hql'))))))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set HiveSnapshotViewScriptName Variable",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "HiveSnapshotViewScriptName",
							"value": {
								"value": "@toLower(CONCAT(pipeline().parameters.DatabaseName,if(empty(pipeline().parameters.SchemaName),'.hql',CONCAT('/',pipeline().parameters.SchemaName,if(empty(pipeline().parameters.ObjectName),'.hql',CONCAT('/',pipeline().parameters.ObjectName,'.hql'))))))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"DatabaseName": {
						"type": "String",
						"defaultValue": "avidpaytransaction"
					},
					"SchemaName": {
						"type": "String",
						"defaultValue": "static"
					},
					"ObjectName": {
						"type": "String",
						"defaultValue": "tpaymenttype"
					},
					"StorageAccountLocation": {
						"type": "String",
						"defaultValue": "adl://avidxdlssandboxcpollock.azuredatalakestore.net/rawstandardized"
					}
				},
				"variables": {
					"HiveSnapshotViewName": {
						"type": "String"
					},
					"HiveTableName": {
						"type": "String"
					},
					"HiveExternalTableScriptName": {
						"type": "String"
					},
					"HiveSnapshotViewScriptName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceOrg1toADLSGen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "SELECT id,username,lastname,firstname,name,companyname,division,department,title,street,city,state,postalcode,country,latitude,longitude,geocodeaccuracy,email,systemmodstamp\nFROM User LIMIT 10",
								"readBehavior": "queryAll"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SalesforceObject1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Gen2_avro",
								"type": "DatasetReference",
								"parameters": {
									"Directory": "raw/salesforceorg1/user",
									"FileName": {
										"value": "user-@{pipeline().RunId}.avro",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbatchexportstatus_AzureSQLDB_to_ADLS_gen1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"BatchExportStatusId": "batchexportstatusid",
									"Name": "name",
									"DisplayName": "displayname",
									"IsActive": "isactive"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "tbatchexportstatus_azuresqldb_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tBatchStatusAVROFile_ADLS_Gen1_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"test_parameter": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestTrigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "tbatchexportstatus_AzureSQLDB_to_ADLS_gen1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-03-01T18:41:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/tbatchexportstatus_AzureSQLDB_to_ADLS_gen1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Execute_RawStandardizedProcess')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetETLControlRecords",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM [dbo].[GetETLControlRecords_RawStandardized]('@{pipeline().parameters.DatabaseName}', '@{pipeline().parameters.SchemaName}', '@{pipeline().parameters.ObjectName}')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "ETLConfigDB_DS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_RawStandardized",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetETLControlRecords",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetETLControlRecords').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute_RawStandardizedProcess",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "RawStandardizedProcess",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DatabaseName": {
												"value": "@item().DatabaseName",
												"type": "Expression"
											},
											"SchemaName": {
												"value": "@item().SchemaName",
												"type": "Expression"
											},
											"ObjectName": {
												"value": "@item().TableName",
												"type": "Expression"
											},
											"StorageAccountLocation": {
												"value": "@pipeline().parameters.StorageAccountLocation",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"DatabaseName": {
						"type": "String",
						"defaultValue": "avidpaytransaction"
					},
					"SchemaName": {
						"type": "String"
					},
					"ObjectName": {
						"type": "String"
					},
					"StorageAccountLocation": {
						"type": "String",
						"defaultValue": "adl://avidxdlssandboxcpollock.azuredatalakestore.net/rawstandardized"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}