DataPlatformPOC/templates/MergeRawZoneAvroFiles/MergeRawZoneAvroFiles.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"AzureDataLakeStore1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MergeRawZoneAvroFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data1",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink",
								"copyBehavior": "MergeFiles"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADLS_Gen1_avro",
								"type": "DatasetReference",
								"parameters": {
									"Directory": "raw/avidpaytransaction/avidpaytransaction_trn/tpaymentdetail/2019/201903",
									"FileName": " "
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Gen1_avro",
								"type": "DatasetReference",
								"parameters": {
									"Directory": "raw/avidpaytransaction/avidpaytransaction_trn/tpaymentdetail/2019",
									"FileName": "tpayment_201903.avro"
								}
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "ADLS_Gen1_avro_no_filename",
								"type": "DatasetReference",
								"parameters": {
									"Directory": "raw/avidpaytransaction/avidpaytransaction_trn/tpaymentdetail/2019/201903"
								}
							},
							"recursive": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "[parameters('AzureDataLakeStore1')]",
									"type": "LinkedServiceReference"
								},
								"path": "raw/deleted/avidpaytransaction/avidpaytransaction_static/tpaymentmethod/2019"
							},
							"enableLogging": true
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Gen1_avro')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Gen1_avro_no_filename')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Gen1_avro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStore1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Directory": {
						"type": "String"
					},
					"FileName": {
						"type": "String"
					}
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "AvroFormat"
					},
					"fileName": {
						"value": "@dataset().FileName",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@dataset().Directory",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Gen1_avro_no_filename')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStore1')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Directory": {
						"type": "String"
					}
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "AvroFormat"
					},
					"folderPath": {
						"value": "@dataset().Directory",
						"type": "Expression"
					}
				}
			}
		}
	]
}