DataPlatformPOC/pipeline/CreateHiveExternalTableScripts_old.json
{
	"name": "CreateHiveExternalTableScripts_old",
	"properties": {
		"activities": [
			{
				"name": "GetObjectList",
				"type": "Lookup",
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT ISNULL(FriendlyDatabaseName, DatabaseName) AS DatabaseName, SchemaName, ObjectName\nFROM [dbo].[vwMetadataSQLServer]\nWHERE IsLatestLoad = 1\n\tAND (ISNULL(FriendlyDatabaseName, DatabaseName) = '@{pipeline().parameters.DatabaseName}' OR NULLIF(TRIM('@{pipeline().parameters.DatabaseName}'),'') IS NULL)\n\tAND (SchemaName = '@{pipeline().parameters.SchemaName}' OR NULLIF(TRIM('@{pipeline().parameters.SchemaName}'),'') IS NULL)\n\tAND (ObjectName = '@{pipeline().parameters.ObjectName}' OR NULLIF(TRIM('@{pipeline().parameters.ObjectName}'),'') IS NULL)",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "ETLConfigDB_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_GetExternalTableScript",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetObjectList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetObjectList').output.value",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "CreateHiveExternalTableScript",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[uspGetHiveExternalTableSchemaSQLServer]",
									"storedProcedureParameters": {
										"DatabaseName": {
											"type": "String",
											"value": {
												"value": "@item().DatabaseName",
												"type": "Expression"
											}
										},
										"SchemaName": {
											"type": "String",
											"value": {
												"value": "@item().SchemaName",
												"type": "Expression"
											}
										},
										"TableName": {
											"type": "String",
											"value": {
												"value": "@item().ObjectName",
												"type": "Expression"
											}
										},
										"StoredAsType": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StoredAsType",
												"type": "Expression"
											}
										},
										"StorageAccountLocation": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StorageAccountLocation",
												"type": "Expression"
											}
										}
									}
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "ETLConfigDB_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ExternalTableScript_DS",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@toLower(CONCAT(item().DatabaseName,'/',item().SchemaName,'/',item().ObjectName,'.hql'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"DatabaseName": {
				"type": "String"
			},
			"SchemaName": {
				"type": "String"
			},
			"ObjectName": {
				"type": "String"
			},
			"StorageAccountLocation": {
				"type": "String",
				"defaultValue": "abfss://rawzone@avidsadlv2cpollock.dfs.core.windows.net/"
			},
			"StoredAsType": {
				"type": "String",
				"defaultValue": "ORC"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}