DataPlatformPOC/pipeline/Execute_RawStandardizedProcess.json
{
	"name": "Execute_RawStandardizedProcess",
	"properties": {
		"activities": [
			{
				"name": "GetETLControlRecords",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT\t[ETLControlID],\n\t\t[DatabaseName],\n\t\t[SchemaName],\n\t\t[TableName]\nFROM [dbo].[GetETLControlRecords]()\nWHERE [IsObjectActive] = 1\n\tAND IsDataLakeRawStandardized = 1"
					},
					"dataset": {
						"referenceName": "ETLConfigDB_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_RawStandardized",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetETLControlRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetETLControlRecords').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute_RawStandardizedProcess",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "RawStandardizedProcess",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DatabaseName": {
										"value": "@item().DatabaseName",
										"type": "Expression"
									},
									"SchemaName": {
										"value": "@item().SchemaName",
										"type": "Expression"
									},
									"ObjectName": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"StorageAccountLocation": {
										"value": "@pipeline().parameters.StorageAccountLocation",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DatabaseName": {
				"type": "String",
				"defaultValue": "avidpaytransaction"
			},
			"SchemaName": {
				"type": "String",
				"defaultValue": "static"
			},
			"ObjectName": {
				"type": "String",
				"defaultValue": "tpaymenttype"
			},
			"StorageAccountLocation": {
				"type": "String",
				"defaultValue": "adl://avidxdlssandboxcpollock.azuredatalakestore.net/rawstandardized"
			}
		}
	}
}