AvidX-Sandbox-cpollock/PartialArmTemplates/ArmTemplate_4_1_2019_16_3_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "AvidX-Sandbox-cpollock"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RawStandardizedProcess_Hadoop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hive query to ADLS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait for Hive scripts to run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HiveSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Hive_Hadoop_DS",
								"type": "DatasetReference",
								"parameters": {
									"ObjectName": {
										"value": "@variables('HiveSnapshotViewName')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Gen1_orc",
								"type": "DatasetReference",
								"parameters": {
									"Directory": {
										"value": "rawstandardized/@{pipeline().parameters.DatabaseName}/@{pipeline().parameters.SchemaName}/@{pipeline().parameters.ObjectName}",
										"type": "Expression"
									},
									"FileName": {
										"value": "@{pipeline().parameters.ObjectName}.orc",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Create Hive External Table",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "Hive External Table script to Azure Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"scriptPath": {
								"value": "hiveexternaltablescripts/@{variables('HiveExternalTableScriptName')}",
								"type": "Expression"
							},
							"getDebugInfo": "Always",
							"scriptLinkedService": {
								"referenceName": "avidxsasandboxcpollock",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "avidxhdihadoopcpollocksandbox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set HiveSnapshotViewName Variable",
						"type": "SetVariable",
						"typeProperties": {
							"variableName": "HiveSnapshotViewName",
							"value": {
								"value": "v_@{pipeline().parameters.DatabaseName}_@{pipeline().parameters.SchemaName}_@{pipeline().parameters.ObjectName}_snapshot",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Hive External Table script to Azure Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait after variables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetHiveExternalTableSchemaSQLServer]')]",
								"storedProcedureParameters": {
									"DatabaseName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										}
									},
									"HiveTableName": {
										"type": "String",
										"value": {
											"value": "@variables('HiveTableName')",
											"type": "Expression"
										}
									},
									"ObjectName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.ObjectName",
											"type": "Expression"
										}
									},
									"SchemaName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										}
									},
									"StorageAccountLocation": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.StorageAccountLocation",
											"type": "Expression"
										}
									},
									"StoredAsType": {
										"type": "String",
										"value": "ORC"
									}
								}
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ETLConfigDB_DS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ExternalTableScript_DS",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "@variables('HiveExternalTableScriptName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Wait for Hive scripts to run",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Create Hive External Table",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Create Hive Snapshot View",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Create Hive Snapshot View",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "Hive View script to Azure Storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"scriptPath": {
								"value": "hivesnapshotviewscripts/@{variables('HiveSnapshotViewScriptName')}",
								"type": "Expression"
							},
							"getDebugInfo": "Always",
							"scriptLinkedService": {
								"referenceName": "avidxsasandboxcpollock",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "avidxhdihadoopcpollocksandbox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Hive View script to Azure Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait after variables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetHiveSnapshotViewScriptSQLServer]')]",
								"storedProcedureParameters": {
									"DatabaseName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										}
									},
									"ObjectName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.ObjectName",
											"type": "Expression"
										}
									},
									"SchemaName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										}
									},
									"PartitionColumns": {
										"type": "String",
										"value": null
									},
									"OrderByColumn": {
										"type": "String",
										"value": "INPUT__FILE__NAME"
									}
								}
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ETLConfigDB_DS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HiveSnapshotViewScripts_DS",
								"type": "DatasetReference",
								"parameters": {
									"Blob": "hivesnapshotviewscripts",
									"Path": {
										"value": "@variables('HiveSnapshotViewScriptName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set HiveTableName Variable",
						"type": "SetVariable",
						"typeProperties": {
							"variableName": "HiveTableName",
							"value": {
								"value": "@{pipeline().parameters.DatabaseName}_@{pipeline().parameters.SchemaName}_@{pipeline().parameters.ObjectName}_snapshot",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Wait after variables",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Set HiveSnapshotViewName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set HiveTableName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set HiveExternalTableScriptName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set HiveSnapshotViewScriptName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Set HiveExternalTableScriptName Variable",
						"type": "SetVariable",
						"typeProperties": {
							"variableName": "HiveExternalTableScriptName",
							"value": {
								"value": "@toLower(CONCAT(pipeline().parameters.DatabaseName,if(empty(pipeline().parameters.SchemaName),'.hql',CONCAT('/',pipeline().parameters.SchemaName,if(empty(pipeline().parameters.ObjectName),'.hql',CONCAT('/',pipeline().parameters.ObjectName,'.hql'))))))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set HiveSnapshotViewScriptName Variable",
						"type": "SetVariable",
						"typeProperties": {
							"variableName": "HiveSnapshotViewScriptName",
							"value": {
								"value": "@toLower(CONCAT(pipeline().parameters.DatabaseName,if(empty(pipeline().parameters.SchemaName),'.hql',CONCAT('/',pipeline().parameters.SchemaName,if(empty(pipeline().parameters.ObjectName),'.hql',CONCAT('/',pipeline().parameters.ObjectName,'.hql'))))))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"DatabaseName": {
						"type": "String",
						"defaultValue": "avidpaytransaction"
					},
					"SchemaName": {
						"type": "String"
					},
					"ObjectName": {
						"type": "String"
					},
					"StorageAccountLocation": {
						"type": "String",
						"defaultValue": "adl://avidxdlssandboxcpollock.azuredatalakestore.net/rawstandardized"
					}
				},
				"variables": {
					"HiveSnapshotViewName": {
						"type": "String"
					},
					"HiveTableName": {
						"type": "String"
					},
					"HiveExternalTableScriptName": {
						"type": "String"
					},
					"HiveSnapshotViewScriptName": {
						"type": "String"
					}
				}
			}
		}
	]
}