AvidX-Sandbox-cpollock/PartialArmTemplates/ArmTemplate_4_18_2019_16_23_26.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "AvidX-Sandbox-cpollock"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CreateHiveExternalTableScripts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetObjectList",
						"type": "Lookup",
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetMetadataObjectsSQLServer]')]",
								"storedProcedureParameters": {
									"DatabaseName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										}
									},
									"IsReturnAllIndividualObjects": {
										"type": "Boolean",
										"value": {
											"value": "@bool(pipeline().parameters.IsCreateInvididualObjectScripts)",
											"type": "Expression"
										}
									},
									"ObjectName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.ObjectName",
											"type": "Expression"
										}
									},
									"SchemaName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "ETLConfigDB_DS",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_GetExternalTableScript",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectList').output.value",
								"type": "Expression"
							},
							"batchCount": 50,
							"activities": [
								{
									"name": "CreateHiveExternalTableScript",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetHiveExternalTableSchemaSQLServer_new]')]",
											"storedProcedureParameters": {
												"DatabaseName": {
													"type": "String",
													"value": {
														"value": "@item().DatabaseName",
														"type": "Expression"
													}
												},
												"SchemaName": {
													"type": "String",
													"value": {
														"value": "@item().SchemaName",
														"type": "Expression"
													}
												},
												"TableName": {
													"type": "String",
													"value": {
														"value": "@item().ObjectName",
														"type": "Expression"
													}
												},
												"StoredAsType": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StoredAsType",
														"type": "Expression"
													}
												},
												"StorageAccountLocation": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageAccountLocation",
														"type": "Expression"
													}
												}
											}
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "ETLConfigDB_DS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ExternalTableScript_DS",
											"type": "DatasetReference",
											"parameters": {
												"path": {
													"value": "@toLower(CONCAT(item().DatabaseName,if(empty(item().SchemaName),'.hql',CONCAT('/',item().SchemaName,if(empty(item().ObjectName),'.hql',CONCAT('/',item().ObjectName,'.hql'))))))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"DatabaseName": {
						"type": "String"
					},
					"SchemaName": {
						"type": "String"
					},
					"ObjectName": {
						"type": "String"
					},
					"StorageAccountLocation": {
						"type": "String",
						"defaultValue": "abfss://raw@avidsadlv2cpollock.dfs.core.windows.net/"
					},
					"StoredAsType": {
						"type": "String",
						"defaultValue": "ORC"
					},
					"IsCreateInvididualObjectScripts": {
						"type": "Bool",
						"defaultValue": false
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CreateHiveExternalTableScripts_Hive2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetObjectList",
						"type": "Lookup",
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetMetadataObjectsSQLServer]')]",
								"storedProcedureParameters": {
									"DatabaseName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										}
									},
									"IsReturnAllIndividualObjects": {
										"type": "Boolean",
										"value": {
											"value": "@bool(pipeline().parameters.IsCreateInvididualObjectScripts)",
											"type": "Expression"
										}
									},
									"ObjectName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.ObjectName",
											"type": "Expression"
										}
									},
									"SchemaName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "ETLConfigDB_DS",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_GetExternalTableScript",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectList').output.value",
								"type": "Expression"
							},
							"batchCount": 50,
							"activities": [
								{
									"name": "CreateHiveExternalTableScript",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetHiveExternalTableSchemaSQLServer]')]",
											"storedProcedureParameters": {
												"DatabaseName": {
													"type": "String",
													"value": {
														"value": "@item().DatabaseName",
														"type": "Expression"
													}
												},
												"SchemaName": {
													"type": "String",
													"value": {
														"value": "@item().SchemaName",
														"type": "Expression"
													}
												},
												"ObjectName": {
													"type": "String",
													"value": {
														"value": "@item().ObjectName",
														"type": "Expression"
													}
												},
												"StoredAsType": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StoredAsType",
														"type": "Expression"
													}
												},
												"StorageAccountLocation": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageAccountLocation",
														"type": "Expression"
													}
												}
											}
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "ETLConfigDB_DS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ExternalTableScript_Hive2_DS",
											"type": "DatasetReference",
											"parameters": {
												"path": {
													"value": "@toLower(CONCAT(item().DatabaseName,if(empty(item().SchemaName),'.hql',CONCAT('/',item().SchemaName,if(empty(item().ObjectName),'.hql',CONCAT('/',item().ObjectName,'.hql'))))))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"DatabaseName": {
						"type": "String",
						"defaultValue": "avidpaytransaction"
					},
					"SchemaName": {
						"type": "String"
					},
					"ObjectName": {
						"type": "String"
					},
					"StorageAccountLocation": {
						"type": "String",
						"defaultValue": "abfss://raw@avidsadlv2cpollock.dfs.core.windows.net"
					},
					"StoredAsType": {
						"type": "String",
						"defaultValue": "ORC"
					},
					"IsCreateInvididualObjectScripts": {
						"type": "Bool",
						"defaultValue": false
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExternalTableScript_Hive2_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CreateHiveExternalTableScripts_old')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetObjectList",
						"type": "Lookup",
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT DISTINCT ISNULL(FriendlyDatabaseName, DatabaseName) AS DatabaseName, SchemaName, ObjectName\nFROM [dbo].[vwMetadataSQLServer]\nWHERE IsLatestLoad = 1\n\tAND (ISNULL(FriendlyDatabaseName, DatabaseName) = '@{pipeline().parameters.DatabaseName}' OR NULLIF(TRIM('@{pipeline().parameters.DatabaseName}'),'') IS NULL)\n\tAND (SchemaName = '@{pipeline().parameters.SchemaName}' OR NULLIF(TRIM('@{pipeline().parameters.SchemaName}'),'') IS NULL)\n\tAND (ObjectName = '@{pipeline().parameters.ObjectName}' OR NULLIF(TRIM('@{pipeline().parameters.ObjectName}'),'') IS NULL)",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "ETLConfigDB_DS",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_GetExternalTableScript",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectList').output.value",
								"type": "Expression"
							},
							"batchCount": 50,
							"activities": [
								{
									"name": "CreateHiveExternalTableScript",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[uspGetHiveExternalTableSchemaSQLServer]')]",
											"storedProcedureParameters": {
												"DatabaseName": {
													"type": "String",
													"value": {
														"value": "@item().DatabaseName",
														"type": "Expression"
													}
												},
												"SchemaName": {
													"type": "String",
													"value": {
														"value": "@item().SchemaName",
														"type": "Expression"
													}
												},
												"TableName": {
													"type": "String",
													"value": {
														"value": "@item().ObjectName",
														"type": "Expression"
													}
												},
												"StoredAsType": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StoredAsType",
														"type": "Expression"
													}
												},
												"StorageAccountLocation": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageAccountLocation",
														"type": "Expression"
													}
												}
											}
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "ETLConfigDB_DS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ExternalTableScript_DS",
											"type": "DatasetReference",
											"parameters": {
												"path": {
													"value": "@toLower(CONCAT(item().DatabaseName,'/',item().SchemaName,'/',item().ObjectName,'.hql'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"DatabaseName": {
						"type": "String"
					},
					"SchemaName": {
						"type": "String"
					},
					"ObjectName": {
						"type": "String"
					},
					"StorageAccountLocation": {
						"type": "String",
						"defaultValue": "abfss://rawzone@avidsadlv2cpollock.dfs.core.windows.net/"
					},
					"StoredAsType": {
						"type": "String",
						"defaultValue": "ORC"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExternalTableScript_Hive2_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "avidxsacpollockhdinsight",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@dataset().path",
						"type": "Expression"
					},
					"folderPath": "hiveexternaltablescripts"
				}
			}
		}
	]
}